.lklink{
    color: black;
    margin-left: 20%;
}
.gitlink{
    color: black;
    
}
.buttongrp{
    display: inline-flex;
    width: 25%;
    
}
.buttons{
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    }
.gsa{
    margin-left: 1.5%;
    width: 50%;
    color: black;
    text-decoration: none;
}
.svgin{
    margin-top: -4px;
    height: 30px;
    width: 30px;
}
nav{
    width: 100%;
    margin-top: 10px;
    font-size: 1.2rem;
    display: inline-flex;
    font-family: 'Barlow', sans-serif;
}

@media(min-width: 991px){
    h1{
        font-size: 40px;
        font-family: 'Titillium Web', sans-serif;
        margin-left: 4%;
        margin-top: 5rem;
    }
    ul{
        margin-left: 15%;
        margin-top: 6rem;
        font-family: 'PT Sans', sans-serif;
    }
    li{
        font-size: 20px;
        margin-top: 1%;
    }
    p{
        width: 50%;
        }
    h4{
        text-decoration: underline;
    }
    h6{
         color: gray;
        font-weight: lighter;
    }
    .hdntext{
        opacity: 0;
        
        margin-top: 5px;
      }
    .para{
        width: 50%;
    }
}

.svgcat{
    height: 25px;
    width: 25px;
}


@media(max-width: 990px){
    ul{
        text-align: center;
        margin-top: 6rem;
        font-family: 'PT Sans', sans-serif;
    }
    h1{
        font-size: 40px;
        font-family: 'Titillium Web', sans-serif;
        margin-top: 5rem;
    }
    li{
        text-align: center;
        font-size: 20px;
        margin-top: 1%;
    }
    p{
        text-align: center;
       
        width: 50%;
        }
        .para{
            margin-left: auto;
            margin-right: auto;
        }
    h4{
        text-decoration: underline;
    }
    h6{
         color: gray;
        font-weight: lighter;
    }
    .hdntext{
        opacity: 0;
        
        margin-top: 5px;
      }
    .para{
        width: 50%;
    }
    
}